.cookie-banner {
    font-family: 'Open Sans',sans-serif;
    position: fixed !important;
    z-index: 9999;
    bottom: 1%;
    width: 44%;
    padding: 1% 3% 1% 1%;
    left: 50%;
    transform: translate(-50%, 0%);
}
@media only screen and (max-width: 980px) {
  .cookie-banner {
      width: 50%;
      margin: 1% 1% 0 1%;
  }
}

@media only screen and (max-width: 640px) {
  .cookie-banner {
      width: 98%;
      margin: 1% 1% 0 1%;
      left: auto;
      transform: translate(0%, 0%);
  }
}

@media only screen and (max-width: 320px) {
  .cookie-banner {
      width: 98%;
      margin: 1% 1% 0 1%;
      left: auto;
      transform: translate(0%, 0%);
  }
}


.cookie-banner img {
    float: left;
    margin: 0 3% 0 0;
}

.style-b1 {
    color: #fff;
    background: rgba(35,35,35,.90);
}


.cookie-banner-close {
    background: #fff;
}
.cookie-banner-close {
    border: 0;
    top: 1%;
    right: 1%;
    width: 40px;
    height: 40px;
    text-indent: -9999px;
    cursor: pointer;
    color: #fff;
    overflow: hidden;
}
.cookie-banner-close::before {
    position: absolute;
    content: "✕";
    border: 0;
    top: 0;
    right: 0;
    width: 38px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    text-indent: 0;
    font-size: 200%;
    cursor: pointer;
}
